[MESSAGES CONTROL]
disable=
# "F" Fatal errors that prevent further processing
 import-error,
# "I" Informational noise
# "E" Error for important programming issues (likely bugs)
 no-member,
 no-name-in-module,
 raising-bad-type,
 redundant-keyword-arg,  # it's one or the other, this one is not so bad at all
# "W" Warnings for stylistic problems or minor programming issues
 arguments-differ,
 cell-var-from-loop,
 fixme,
 lost-exception,
 pointless-string-statement,
 protected-access,
 redefined-outer-name,
 undefined-loop-variable,
 unsubscriptable-object,
 unused-argument,
 unused-import,
 unspecified-encoding,
# "C" Coding convention violations
 missing-docstring,
 wrong-import-order,
 use-maxsplit-arg,
 consider-using-dict-items,
 consider-using-enumerate,
# "R" Refactor recommendations
 duplicate-code,
 too-few-public-methods,
 too-many-branches,
 too-many-locals,
 too-many-statements,
 consider-using-from-import,
 use-list-literal,
 use-dict-literal,
 too-many-lines,  # we do not want to take care about that one
 too-many-positional-arguments,
# new for python3 version of pylint
 unnecessary-pass,
 raise-missing-from,  # no 'raise from' in python 2
 consider-using-f-string,  # sorry, not gonna happen, still have to support py2
 logging-format-interpolation,
# problem betwee Python 3.6 and 3.8+ pylint
 useless-option-value

[FORMAT]
# Maximum number of characters on a single line.
max-line-length=119

[DESIGN]
max-args=11  # 2x + 1 from default
max-attributes=21  # 4x + 1 from default

[REPORTS]
msg-template='[{msg_id} {symbol}] {msg} File: {path}, line {line}, in {obj}'

[BASIC]
# In order to make a check more strict add proper regex http://pylint-messages.wikidot.com/messages:c0103
argument-rgx=.*
attr-rgx=.*
class-rgx=.*
const-rgx=.*
function-rgx=.*
method-rgx=.*
module-rgx=.*
variable-rgx=.*
inlinevar-rgx=.*
