[MESSAGES CONTROL]
disable=
# "F" Fatal errors that prevent further processing
 import-error,
# "I" Informational noise
# "E" Error for important programming issues (likely bugs)
 no-member,
 no-name-in-module,
 raising-bad-type,
# "W" Warnings for stylistic problems or minor programming issues
 arguments-differ,
 attribute-defined-outside-init,
 cell-var-from-loop,
 deprecated-lambda,
 fixme,
 logging-not-lazy,
 lost-exception,
 no-init,
 pointless-string-statement,
 protected-access,
 redefined-builtin,
 redefined-outer-name,
 relative-import,
 undefined-loop-variable,
 unsubscriptable-object,
 unused-argument,
 unused-import,
# "C" Coding convention violations
 bad-continuation,
 invalid-name,
 len-as-condition,
 missing-docstring,
 old-style-class,
 superfluous-parens,
 unidiomatic-typecheck,
 wrong-import-order,
# "R" Refactor recommendations
 duplicate-code,
 inconsistent-return-statements,
 no-else-return,
 no-self-use,
 too-few-public-methods,
 too-many-branches,
 too-many-locals,
 too-many-statements,
# new for python3 version of pylint

[FORMAT]
# Maximum number of characters on a single line.
max-line-length=119

[DESIGN]
max-args=11
max-attributes=11

[REPORTS]
msg-template='[{msg_id} {symbol}] {msg} File: {path}, line {line}, in {obj}'
