git:
  depth: 3
language: shell
os: linux
dist: xenial
env:
  global:
    - CONTAINER=centos:7
services:
  - docker

install:
  - docker pull ${CONTAINER}
  - docker build -t leapp-tests -f utils/docker-tests/Dockerfile utils/docker-tests

jobs:
  include:
    - script:
        - docker run --rm -ti -v ${PWD}:/payload --env=PYTHON_VENV leapp-tests
      env: PYTHON_VENV=python2.7
    - script:
        - docker run --rm -ti -v ${PWD}:/payload --env=PYTHON_VENV leapp-tests
      env: PYTHON_VENV=python3.6
    - stage: deploy
      script:
        - docker run --rm -ti -v ${PWD}:/payload --entrypoint "/bin/bash" leapp-tests -c "make install-deps && make dashboard_data"
        - bash ./utils/update_dashboard.sh
      if: branch = master AND type = push
