[Unit]
Description=System Upgrade
Documentation=man:upgrade.target(7)
# ##sysinit.target sockets.target initrd-root-fs.target initrd-root-device.target initrd-fs.target
# # NOTE: maybeeeee add: initrd-parse-etc.service
Wants=initrd-root-fs.target initrd-root-device.target initrd-fs.target initrd-usr-fs.target initrd-parse-etc.service
Requires=basic.target sysroot.mount
After=basic.target sysroot.mount  initrd-fs.target initrd-parse-etc.service
AllowIsolate=yes
