[Unit]
Description=Temporary Leapp service which resumes execution after reboot
After=multi-user.target
DefaultDependencies=no
After=dbus.service
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
# NOTE(pstodulk): After discussion with the SELinux team, we try to stay
# out of unconfined mode for now.
#SELinuxContext=unconfined_u:unconfined_r:unconfined_t:s0

# NOTE(pstodulk): Correction of the selinux type context. This one should fit to leapp
# Ignore the exit code as this cmd is expected to fail if selinux is disabled
ExecStartPre=-chcon -t install_exec_t /root/tmp_leapp_py3/leapp3
ExecStart=/root/tmp_leapp_py3/leapp3 upgrade --resume
StandardOutput=journal+console

# NOTE(pstodulk): some actions can take a lot of time (e.g. satellite installer)
TimeoutStartSec=infinity
