[Unit]
Description=Temporary Leapp service which resumes execution after reboot
After=default.target
DefaultDependencies=no

[Service]
Type=oneshot
ExecStart=/usr/bin/leapp upgrade --resume
StandardOutput=journal+console
