name: Codespell

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  codespell:
    name: Check for spelling errors
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - uses: codespell-project/actions-codespell@v2
        with:
          ignore_words_list: ro,fo,couldn,repositor,zeor
          skip: "./repos/system_upgrade/common/actors/storagescanner/tests/files/mounts,\
            ./repos/system_upgrade/common/actors/networkmanagerreadconfig/tests/files/nm_cfg_file_error,\
            ./repos/system_upgrade/el8toel9/actors/xorgdrvfact/tests/files/journalctl-xorg-intel,\
            ./repos/system_upgrade/el8toel9/actors/xorgdrvfact/tests/files/journalctl-xorg-qxl,\
            ./repos/system_upgrade/el8toel9/actors/xorgdrvfact/tests/files/journalctl-xorg-without-qxl,\
            ./repos/system_upgrade/common/actors/scancpu/tests/files,\
            ./etc/leapp/files/device_driver_deprecation_data.json,\
            ./etc/leapp/files/pes-events.json,\
            ./etc/leapp/files/repomap.json,\
            ./repos/system_upgrade/common/files/prod-certs,\
            ./docs/source/_static/"
