name: Unit Tests
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  test:
    name: 'Run: ${{ matrix.scenarios.name }}'
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        scenarios:
          # 9to10
          - name: 'Unit tests (python:3.12; repos:el9toel10,common)'
            python: python3.12
            repos: 'el9toel10,common'
            container: el9
          - name: 'Linters (python:3.12; repos:el9toel10,common)'
            python: python3.12
            repos: 'el9toel10,common'
            container: el9-lint
          - name: 'Unit tests (python:3.9; repos:el9toel10,common)'
            python: python3.9
            repos: 'el9toel10,common'
            container: el9
          - name: 'Linters (python:3.9; repos:el9toel10,common)'
            python: python3.9
            repos: 'el9toel10,common'
            container: el9-lint
          # 8to9
          - name: 'Unit tests (python:3.9; repos:el8toel9,common)'
            python: python3.9
            repos: 'el8toel9,common'
            container: el9
          - name: 'Linters (python:3.9; repos:el8toel9,common)'
            python: python3.9
            repos: 'el8toel9,common'
            container: el9-lint
          - name: 'Unit tests (python:3.6; repos:el8toel9,common)'
            python: python3.6
            repos: 'el8toel9,common'
            container: el8
          - name: 'Linters (python:3.6; repos:el8toel9,common)'
            python: python3.6
            repos: 'el8toel9,common'
            container: el8-lint

    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          # NOTE(ivasilev) fetch-depth 0 is critical here as leapp deps discovery depends on specific substring in
          # commit message and default 1 option will get us just merge commit which has an unrelevant message.
          fetch-depth: '0'
      # NOTE(ivasilev) main -> origin/main is used for leapp deps discovery in Makefile via git log main..HEAD
      - name: Set main to origin/main
        if: github.ref != 'refs/heads/main'
        run: |
          git branch -f main origin/main
      - name: ${{matrix.scenarios.name}}
        run: |
          script -e -c /bin/bash -c \
          'TERM=xterm \
          podman build  -t leapp-tests -f utils/container-tests/ci/Containerfile.${{matrix.scenarios.container}} . && \
          PYTHON_VENV=${{matrix.scenarios.python}} \
          REPOSITORIES=${{matrix.scenarios.repos}} \
          podman run --rm -ti -v ${PWD}:/payload --env=PYTHON_VENV --env=REPOSITORIES leapp-tests'
